<div class="verify-phone">
  <div class="verify-phone-form-container">
    <div style="text-align: center;">
      <img alt="Logo" src="../../../../../assets/images/logo/area-logo.svg" />

      <h1 class="verify-phone-heading">შეტყობინება გამოგზავნილია</h1>
      <h1 class="verify-phone-heading">ნომერზე: {{ data }}</h1>
    </div>

    <form (submit)="onSubmit()">
      <input
        id="verifyPhoneCode"
        data-hj-allow
        [formControl]="token"
        placeholder="შეიყვანე კოდი"
        type="text"
        maxlength="4"
      />

      <div class="verify-phone-single-input verify-phone-button">
        <button mat-raised-button type="submit">შემდეგ</button>
      </div>
    </form>
  </div>
</div>
