@import 'libs/ui/styles/src/lib/scss/variables';
@import 'libs/ui/styles/src/lib/scss/bootstrap-override';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  background: $white;
  padding-left: var(--sidebar-width);
  &-profile {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    position: relative;
    transition: all 0.15s linear;

    @include media-breakpoint-up(sm) {
      width: 100%;
      max-width: 300px;
    }
  }
  &-dropdown {
    pointer-events: all;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    position: absolute;
    top: 67px;
    right: 22px;
    z-index: 1035;
    background-color: #fff;
    width: 272px;
    box-shadow: 0px 10px 30px #00000040;
    padding-bottom: 4px;
    &-item {
      transition: all 0.15s linear;
      height: 48px;
      &:hover {
        background-color: #f6f6f6;
      }
    }
    &.left {
      padding-top: 4px;
      right: 115px;
    }
    @include media-breakpoint-down(sm) {
      top: 32px;
      right: 20px;
    }
  }
  &-burger {
    margin-right: 30px;
  }
  &-dropdown {
    overflow: hidden;
    .dropdown-item-wrapper {
      overflow: overlay;
      margin-top: 4px;
      &::-webkit-scrollbar {
        width: 3px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        width: 3px;
        background: #c2c2c2;
        border-radius: 5px;
      }
      .dropdown-item {
        &.active {
          background-color: #c2dbff;
          &::after {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            background-image: url($selected-blue-mark);
            background-repeat: no-repeat;
          }
        }
      }
      &.m-h-480px {
        max-height: 480px;
        @include media-breakpoint-down(custmd) {
          max-height: 240px;
        }
      }
    }
    .dropdown-category-search {
      display: flex;
      align-items: center;
      position: relative;
      .dropdown-item {
        &:hover {
          background-color: unset !important;
        }
      }
      .search-icon {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      }

      input {
        box-shadow: unset;
        outline: unset !important;
        padding-right: 45px !important;

        &::placeholder {
          color: #b4b4b4;
        }
      }
    }
    .dropdown-nothing-found{
      font-size: 14px;
      color: #b4b4b4;
    }
  }
}
