<div class="py-5 px-4">
  <div
  class="rounded-circle d-flex justify-content-center align-items-center position-relative mx-auto"
>
  <app-icon class="position-absolute icon-rotate-180" icon="loader-big"></app-icon>
  <div
    style="width: 54px; height: 54px;"
    class="rounded-circle bg-table-border-color d-flex justify-content-center align-items-center"
  >
    <app-icon icon="import" class="icon-upload"></app-icon>
  </div>
</div>
  <div class="font-size-18 text-dark font-family-bold text-center line-height-normal pt-20px">
    {{data.message | translate}}
  </div>
</div>
