<div class="h-100 d-flex flex-column" style="padding-bottom: 71px;">
  <div class="d-flex align-items-center py-3 px-4" style="height: 80px;">
    <div
      class="d-flex align-items-center pr-3"
      *ngIf="selectedRows && selectedRows.length === 0"
    >
      <a
        class="btn btn-primary btn-add mr-3"
        routerLink="/inventorisations/add"
      >
        <span>{{'GENERAL.ADD' | translate}}</span>
      </a>
    </div>
    <button
      class="btn p-0 mr-2 bg-table-border-color"
      (click)="onEdit()"
      [matTooltip]="'GENERAL.EDIT' | translate"
      *ngIf="selectedRows && selectedRows.length === 1 && !isAnySucceeded"
      style="width: 64px; height: 42px;"
    >
      <app-icon [icon]="'edit'"></app-icon>
    </button>
    <button
      class="btn mr-2 p-0 bg-table-border-color"
      (click)="openRemovalDialog()"
      [matTooltip]="'GENERAL.DELETE' | translate"
      *ngIf="selectedRows && selectedRows.length >= 1 && !isAnySucceeded"
      style="width: 64px; height: 42px;"
    >
      <app-icon [icon]="'trash'"></app-icon>
    </button>

    <div
      class="position-relative"
      *ngIf="selectedRows && selectedRows.length === 1 && !isAnySucceeded"
    >
      <div
        class="btn bg-table-border-color rounded px-0 mr-2 position-relative d-flex align-items-center"
        (click)="toggleUploadDropdown(); $event.stopPropagation()"
        style="
          height: 42px;          
          cursor: pointer;
        "
        [matTooltip]="'Inventorisations.UploadProducts' | translate"
      >
        <app-icon icon="form-exchange" class="px-20px"></app-icon>
        <app-icon
          icon="arrow-down"
          class="px-7px border-left d-block border-divider-border"
          style="height: 24px;"
        ></app-icon>
      </div>

      <div
        *ngIf="isUploadDropdownActive"
        clickOutside
        (clickOutside)="toggleUploadDropdown()"
        class="filter-dialog filter-dialog-type-number px-0 py-1 text-left active no-before"
        style="width: 195px; top: 109%; right: unset;"
      >
        <div
          (click)="onExcelDownload()"
          class="custom-select-option"
          style="cursor: pointer;"
        >
          {{'Inventorisations.DownloadForm' | translate}}
        </div>
        <div class="custom-select-option">
          <label
            class="mb-0"
            style="cursor: pointer; color: inherit;"
            for="uploadTemplate"
            (click)="fileInput.value = null"
            >{{'Inventorisations.UploadForm' | translate}}</label
          >
          <input
            id="uploadTemplate"
            data-hj-allow
            class="d-none"
            #fileInput
            type="file"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            (change)="onExcelUpload($event.target.files)"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white flex-grow-1">
    <app-table
      [dataSource]="dataSource"
      [totalCount]="totalCount"
      [state]="currentState"
      [selectable]="true"
      [paginable]="true"
      [actions]="{ editable: isRowDraft, deletable: isRowDraft }"
      [hasColumnSelector]="true"
      defaultSort="orderDate"
      defaultSortDirection="DESC"
      [displayedColumns]="displayedColumns"
      (stateChanged)="onTableStateChanged($event)"
      (selectionChanged)="onSelectionChanged($event)"
      (rowClick)="toQueryParam('inventorisationId', $event.id)"
      (rowEdit)="onEdit($event)"
      (rowDelete)="openRemovalDialog($event)"
      class="table-orders before-last-th-pr-33"
    >
    <ng-template app-cell let-cell="cell" let-row="row" name="status">
      <span
        [ngClass]="{
          'draft': isRowDraft(row)
        }"
        class="text-truncate cell-status"
        [matTooltip]="statusData[cell]"
      >
        {{ statusData[cell] }}
      </span>
    </ng-template>
    </app-table>
  </div>
</div>
