<form *ngIf="form" [formGroup]="form" (submit)="onSubmit()">
  <div class="container-fluid sticky-top bg-white" style="height: 72px;">
    <div
      class="row align-items-center h-100 border-bottom border-pagination-border"
    >
      <div class="col pl-0 h-100">
        <button
          type="button"
          class="btn bg-white px-2 h-100 rounded-0"
          style="width: 102px;"
          (click)="onCancel()"
        >
          <app-icon icon="close"></app-icon>
        </button>
      </div>
      <div class="col-auto font-size-20 font-family-bold text-dark">
        {{ title | translate}}
      </div>
      <div class="col pr-4 h-100 d-flex align-items-center justify-content-end">
        <button
          class="btn btn-primary font-size-14 font-family-bold text-white py-0 px-23px h-42px"
          type="submit"
          [disabled]="requestIsSent"
        >
          {{'GENERAL.SAVE' | translate}}
        </button>
      </div>
    </div>
  </div>
  <div class="w-100" *ngIf="isSubmited && form?.invalid">
    <div
      class="mx-auto bg-danger-bg px-4 rounded text-center border d-flex align-items-center border-danger-border mt-3"
      style="max-width: 960px;height: 54px;"
    >
      <div class="col-2 d-flex px-0"><app-icon icon="alert"></app-icon></div>
      <div
        class="col text-center font-size-14 font-color-dark font-family-regular"
      >
        {{'GENERAL.FILL_IN_EMPTY_INPUTS' | translate}}
      </div>
      <div class="col-2 px-0"></div>
    </div>
  </div>
  <div
    class="mx-auto pt-20px px-0 pb-50px"
    style="max-width: 960px;"
    [class.mt-70px]="!(isSubmited && form?.invalid)"
  >
    <div id="addInventoryModalBodyId">
      <div class="no-validation-padding" formGroupName="details">
        <div class="font-size-20 font-color-dark font-family-bold pb-30px">
			{{'GENERAL.GENERAL_INFO' | translate}}
        </div>

        <div class="container-fluid px-0">
          <div class="row align-items-stretch">
            <div class="col" style="max-width: 656px; flex-basis: 656px;">
              <div class="w-100">
                <div class="form-group-lg d-flex align-items-center">
                  <div class="col-6 pl-0">
                    <label
                      for="addInventoryName"
                      class="font-size-15 font-color-dark font-family-bold"
                      >{{'GENERAL.NAME' | translate}}*</label
                    >
                    <input
                      id="addInventoryName"
                      data-hj-allow
                      class="form-control w-100"
                      type="text"
                      formControlName="name"
                    />
                  </div>
                  <div class="col-6 pr-0">
                    <label
                      for="addInventoryCategoryId"
                      class="font-size-15 font-color-dark font-family-bold"
                      >{{'GENERAL.CATEGORY' | translate}}*</label
                    >
                    <app-dynamic-select
                      id="addInventoryCategoryId"
                      #categorySelect
                      class="add-inventory-item__dynamic-select"
                      [dataGetter]="getStockitemCategories"
                      [itemGetterById]="getStockitemCategoryById"
                      formControlName="categoryId"
                    >
                      <ng-template app-dynamic-select-footer-tmp>
                        <div class="border-top">
                          <a
                            class="my-1 py-2 d-inline-block text-decoration-none"
                            style="cursor: pointer;"
                            (click)="onAddCategory(); categorySelect.close()"
                          >
                            <app-icon [icon]="'add'"></app-icon>
                            <span
                              class="font-family-regular font-size-14 text-dark ml-2"
                              >{{'Ingredients.Item.addCategory' | translate}}</span
                            >
                          </a>
                        </div>
                      </ng-template>
                    </app-dynamic-select>
                  </div>
                </div>
                <div class="form-group-lg d-flex align-items-center">
                  <div class="col pl-0">
                    <label
                      for="addInventoryBarcode"
                      class="font-size-15 font-color-dark font-family-bold"
                      >{{'Ingredients.Item.BARCODE_SLASH_SKU' | translate}}*</label
                    >
                    <input
                      id="addInventoryBarcode"
                      data-hj-allow
                      class="form-control w-100"
                      type="text"
                      formControlName="barcode"
                      autocomplete="off"
                    />
                  </div>
                  <div class="col pr-0" style="max-width: 316px;">
                    <label
                      for="addInventorySupplierIds"
                      class="font-size-15 font-color-dark font-family-bold"
                      >{{'GENERAL.DISTRIBUTOR' | translate}}*</label
                    >
                    <app-dynamic-select
                      id="addInventorySupplierIds"
                      class="add-inventory-item__dynamic-select"
                      [dataGetter]="getSuppliers"
                      [itemGetterById]="getSupplierById"
                      [multiple]="true"
                      [closeOnSelect]="false"
                      formControlName="supplierIds"
                    >
                      <ng-template app-dynamic-select-footer-tmp>
                        <div class="border-top">
                          <a
                            class="my-1 py-2 d-inline-block text-decoration-none"
                            (click)="onAddSupplier()"
                          >
                            <app-icon [icon]="'add'"></app-icon>
                            <span
                              class="font-family-regular font-size-14 text-dark ml-2"
                              >{{'Ingredients.Item.ADD_DISTRIBUTOR' | translate}}</span
                            >
                          </a>
                        </div>
                      </ng-template>
                    </app-dynamic-select>
                  </div>
                </div>
                <div class="col-12 px-0">
                  <label
                    for="addInventoryDescription"
                    class="font-size-15 font-color-dark font-family-bold"
                    >{{'GENERAL.DESCRIPTION' | translate}}</label
                  >
                  <textarea
                    id="addInventoryDescription"
                    data-hj-allow
                    class="form-control"
                    formControlName="description"
                    style="height: 152px; resize: none;"
                    autocomplete="off"
                  ></textarea>
                </div>
              </div>
            </div>
            <!-- <div
                  class="col d-flex flex-column pt-30px"
                  style="width: 100%; max-width: 458px;"
                >
                  <label for="addInventoryPhotoUploader">სურათი</label>
                  <div class="custom-file flex-grow-1">
                    <app-file-uploader
                      id="addInventoryPhotoUploader"
                      class="h-100"
                      [shownImage]="item?.photoUrl"
                      (uploaded)="onPhotoUploaded($event)"
                    ></app-file-uploader>
                  </div>
                </div> -->
            <div
              class="col d-flex flex-column pt-30px"
              style="width: 100%; max-width: 458px;"
            >
              <div class="custom-file uploader-305-bg" style="height: 245px;">
                <app-file-uploader
                  id="addInventoryPhotoUploader"
                  class="h-100"
                  [shownImage]="item?.photoUrl"
                  (uploaded)="onPhotoUploaded($event)"
                ></app-file-uploader>
              </div>
              <div
                class="font-size-13 font-color-dark font-family-regular pt-14"
              >
                <span class="pr-2"> {{'GENERAL.MIN_ACCEPTABLE_RESOLUTION' | translate}} 290x244px </span
                ><span>(.jpg, .jpeg .png) </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 pt-42px">
        <div class="pb-30px">
          <span class="font-size-20 font-color-dark font-family-bold"
            >{{'Ingredients.Item.PRICES_AND_SUPPLIES' | translate}}</span
          >
        </div>

        <div class="container-fluid px-0">
          <div class="row d-block">
            <div
              class="col-12 col-md-6"
              style="max-width: 656px; flex-basis: 656px;"
            >
              <div class="row">
                <div class="col-12 col-md-6">
                  <div
                    class="form-group form-group-lg no-validation-padding"
                  >
                    <label
                      for="addInventoryQuantityOnHand"
                      class="font-size-15 font-color-dark font-family-bold"
                      >{{'Ingredients.Item.CURRENT_SUPPLY' | translate}}</label
                    >
                      <div class="input-group-custom d-flex align-items-center input-select">
                        <ng-container formGroupName="price">
                          <input
                            id="addInventoryQuantityOnHand"
                            data-hj-allow
                            type="text"
                            class="form-control input-left border-right-0"
                            formControlName="quantityOnHand"
                            (click)="onUpdateSupplies()"
                            [readonly]="item?.quantity || item?.quantity === 0"
                            autocomplete="off"
                            [mask]="item?.quantity < 0 ? '' : 'separator.4'"
                            thousandSeparator=","
                            style="padding-right: 90px;"
                          />
                        </ng-container>
                      <ng-container formGroupName="details">
                        <ng-select
                          [ngClass]="{
                            'ng-touched': getQuantityOnHandTouched()
                          }"
                          id="addInventoryUnitOfMeasurement"
                          formControlName="unitOfMeasurement"
                          [items]="mapOfMeasurementUnitsShort"
                          style="width: 85px;right: 0px;padding: 0px !important;"
                          bindValue="value"
                          bindLabel="label"
                          class="custom-select-header bg-transparent border-left-radius-0 form-control ng-value-centered input-section"
                          [searchable]="false"
                          [clearable]="false"
                        >
                        </ng-select>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div
                    class="form-group form-group-lg no-validation-padding"
                    formGroupName="details"
                  >
                    <label
                      for="addInventoryLowStockThreshold"
                      class="font-size-15 font-color-dark font-family-bold"
                      >{{'Ingredients.Item.MIN_SUPPLY_THRESHOLD' | translate}}*</label
                    >
                    <div class="input-group-custom d-flex align-items-center">
                      <input
                        id="addInventoryLowStockThreshold"
                        data-hj-allow
                        class="form-control input-left"
                        type="number"
                        formControlName="lowStockThreshold"
                        autocomplete="off"
                      />
                      <div
                        class="font-size-14 font-color-dark font-family-regular input-section  "
                      >
                        {{unitOfMeasurementAcronym}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div
                    class="form-group form-group-lg no-validation-padding"
                    formGroupName="price"
                  >
                    <label
                      for="addInventoryUnitCost"
                      class="font-size-15 font-color-dark font-family-bold"
                      >{{'Ingredients.Item.UNIT_COST' | translate}}*</label
                    >
                    <div class="input-group-custom d-flex align-items-center">
                      <input
                        id="addInventoryUnitCost"
                        data-hj-allow
                        class="form-control input-left"
                        type="number"
                        formControlName="unitCost"
                        autocomplete="off"
                      />
                      <div
                        class="font-size-14 font-color-dark font-family-regular input-section"
                      >
                        ₾
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           
                
               
               
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
