<div class="reset-password">
  <div class="reset-password-holder bg-white border rounded text-center mx-auto">
    <div class="reset-password-padding">
      <app-icon icon="success"></app-icon>
      <div class="font-size-17 text-dark pt-4" style="line-height: 33px">
        პაროლის აღდგენის ინსტრუქცია
        გამოგზავნილია ელ. ფოსტაზე
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center border-top" style="height: 67px;">
      <a routerLink="/login"
         class="text-primary font-size-14 font-family-medium text-decoration-none reset-password-link">ავტორიზაციაზე
        დაბრუნება</a>
    </div>
  </div>
</div>
