<div class="login">
  
  <form [formGroup]="resetForm" (submit)="onSubmit()" class="h-100 d-flex">
    
    <div
      class="bg-white pt-20px pt-custsm-4 px-3 px-custsm-32px px-lg-5 h-100 w-100 login-inner-wrapper"
    >
    <a href="https://optimo.ge" target="_blank" class="login-logo">
      <img src="/assets/images/logo.svg" alt="" />
    </a>
      <div class="reset-password-padding pt-lg-5 mt-lg-5">
        <div class="font-size-20 font-family-bold font-color-dark pt-5 mt-custsm-5 mt-lg-2 mt-4">
          პაროლის აღდგენა
        </div>
        <div class=" pt-4">
          <label for="" class="font-size-14 font-family-regular font-color-dark ">ტელეფონი ან ელ. ფოსტა</label>
          <input
            data-hj-allow
            formControlName="userName"
            required
            class="form-control h-u-lg-42px"
          />
        </div>
        <div class="pt-4 pb-lg-5 pb-32px border-bottom border-table-border-color">
          <button
            class="btn btn-primary btn-block reset-password-btn font-family-bold font-size-14 h-u-lg-42px"
            type="submit"
            style="height: 48px;"
          >
          გაგზავნა
          </button>
        </div>
      </div>
       

      <div  class="pt-22px">
        <a  routerLink="/login"
            class="text-decoration-none font-size-14 font-family-bold font-color-dark"
      >
      <app-icon class="d-inline-block" icon="arrow-down" style="transform: rotate(90deg);"></app-icon> დაბრუნება
      </a>
      </div>


    </div>
    <div class="login-cover-img"></div>
  </form>
</div>
