<div class="w-100 h-100 d-flex flex-column">
  <div class="d-flex align-items-center px-4 py-3" style="height: 80px;">
    <!-- <a
      class="btn btn-primary btn-add mr-3"
      [routerLink]="['./add']"
      [ngClass]="{ 'd-none': selectedRows && selectedRows.length > 0 }"
    >
      <span>დამატება</span>
    </a> -->
    <button
      class="btn btn-primary btn-add mr-3"
      [ngClass]="{ 'd-none': selectedRows && selectedRows.length > 0 }"
      (click)="goToAdd()"
    >
      <span>დამატება</span>
    </button>

    <button
      [disabled]="selectedRows?.length !== 1"
      (click)="onEditSelected()"
      class="btn px-3 mr-2 bg-table-border-color py-0"
      style="width: 64px; height: 42px;"
      [ngClass]="{ 'd-none': !selectedRows || selectedRows.length !== 1 }"
    >
      <app-icon icon="edit"></app-icon>
    </button>

    <button
      class="btn mr-2 px-3 bg-table-border-color py-0"
      (click)="openRemovalDialog(selectedRows)"
      style="width: 64px; height: 42px;"
      [ngClass]="{ 'd-none': !selectedRows || !selectedRows.length }"
    >
      <app-icon icon="trash"></app-icon>
    </button>
  </div>

  <app-table
    *ngIf="datasource"
    [displayedColumns]="displayedColumns"
    [dataSource]="datasource"
    [totalCount]="totalCount"
    [state]="curTableState"
    [actions]="{ editable: true, deletable: true }"
    [selectable]="true"
    [filterable]="true"
    [paginable]="true"
    [defaultSort]="'id'"
    [defaultSortDirection]="'DESC'"
    (selectionChanged)="onSelectionChanged($event)"
    (rowClick)="onRowClick($event.id)"
    (rowEdit)="goToEdit($event)"
    (rowDelete)="openRemovalDialog([$event])"
    (stateChanged)="onTableStateChanged($event)"
    class="table-business-types flex-grow-1 table-categories"
    style="padding-bottom: 71px;"
  >
  </app-table>
</div>
