<div class="position-relative overflow-hidden" style="height: 480px;">
   
       
      <app-icon icon="close" 
      style="position: absolute;
      top: 32px;
      right: 25px;
      z-index: 10;"
       class="icon-close-dark cursor-pointer"
         (click)="onClose()"></app-icon>
 
  
 
    <div class="row no-gutters">
      <div class="col h-100" style="max-width: 320px;">
        <!-- <app-slider class="w-100 h-100 d-block" [slides]="slides"></app-slider> -->
        <img src="/assets/images/image-1.png" alt="" class="mw-100">
      </div>
      <div class="col py-4">
        <div
          class="d-flex align-items-center justify-content-center h-100 pl-4"
          
        >
          <div>
            <div class="font-size-22 font-family-bold text-dark mb-3 line-height-normal">
              გაზარდე შენი პაკეტი, რომ ნახო პროდუქტის სტატისტიკა
            </div>
            <div style="max-width: 390px;" class="font-size-14 text-dark font-family-regular pb-4">
              სტანდარტ პაკეტი საშუალებას მოგცემს ნახო შენთვის
               საინტერსო სტატისტიკა და ანალიტიკა. სტატისტიკის
                სანახავად შეიძინე ოპტიმოს სტანდარტ პაკეტი.
            </div>
             
        <a href="https://optimo.ge/packages" target="_blank"
        class="btn btn-primary font-family-bold d-flex align-items-center justify-content-center p-0 font-size-14 font-color-white"
        style="width: 142px;height: 42px;"
        >
        გაიგე მეტი
        </a>
          </div>
        </div>
        
      </div>
      
    </div>
   
</div>
