<div class="login d-flex flex-row">
  <div class="bg-white pt-20px pt-custsm-4 px-3 px-custsm-32px px-lg-5 h-100 w-100 login-inner-wrapper">
    <a  href="https://optimo.ge" target="_blank"  class="login-logo">
      <img src="/assets/images/logo.svg" alt="" />
    </a>
    <form *ngIf="form" [formGroup]="form" (submit)="onSubmit()"  class="login__form pt-lg-5 mt-lg-5">
      <div  class="font-size-20 font-family-bold font-color-dark pt-5 mt-custsm-5 mt-lg-2 mt-4">
        პაროლის ცვლილება
      </div>
      <div class=" font-size-14 text-dark pt-3 pb-4">
        პირადი ინფორმაციის უსაფრთხოებისთვის გთხოვთ შეიყვანოთ ახალი პაროლი.
      </div>
      <div class="form-group-lg  line-height-normal">
        <label for="" class="font-size-14 font-family-regular font-color-dark line-height-normal"
          >ახალი პაროლი</label
        >
        <app-password-edit-box
            placeholder="პაროლი"
            formControlName="newPassword"
            class="no-validation-padding h-u-lg-42px" 
          ></app-password-edit-box>
      </div>
      <div class="form-group-lg line-height-normal">
        <label for="" class="font-size-14 font-family-regular font-color-dark line-height-normal"
          >გაიმეორეთ ახალი პაროლი</label
        >
        <app-password-edit-box
        placeholder="გაიმეორე პაროლი"
        formControlName="repeatNewPassword"
        class="no-validation-padding h-u-lg-42px" 
      ></app-password-edit-box>
      </div>
        <button
          type="submit"
          style="height: 48px;"
          class="btn btn-primary btn-block  font-size-14 font-family-bold h-u-lg-42px"
          [disabled]="form.invalid && form.pristine"
        >
          შენახვა
        </button>
    </form>
  </div>
  <div class="login-cover-img"></div>
</div>
