<form *ngIf="form" [formGroup]="form">
  <div
  class="container-fluid sticky-top bg-white"
  style="height: 72px;"
  >
    <div class="row align-items-center h-100 border-bottom border-secondary">
      <div class="col pl-0 h-100">
        <button
          type="button"
          class="btn bg-white px-2 h-100 rounded-0"
          style="width: 102px;"
          (click)="onCancel()"
        >
        <app-icon icon="close"></app-icon>
        </button>
      </div>
      <div class="col-auto font-size-20 font-family-bold text-dark">
        {{ title | translate}}
      </div>
      <div class="col pr-4 h-100 d-flex align-items-center justify-content-end">
        <button
          class="btn bg-table-border-color font-size-14 font-family-bold text-dark py-0 px-23px h-42px mr-3"
          (click)="createOrder(ProductionOrderStatus.Draft)"
          [disabled]="requestIsSent"
        >
          {{'GENERAL.SAVE' | translate}}
        </button>
        <button
          class="btn btn-primary font-size-14 font-family-bold text-white py-0 px-23px h-42px"
          (click)="createOrder(ProductionOrderStatus.Succeeded)"
        
          [disabled]="requestIsSent"
        >
          {{'ProductionOrders.prepare' | translate}}
        </button>
      </div>
    </div>
  </div>
  <div class="w-100" *ngIf="isSubmited && isFormInvalid">
    <div  class="mx-auto bg-danger-bg  px-4  rounded text-center border  d-flex align-items-center border-danger-border mt-3" style="max-width:960px;height: 54px;">
    <div class="col-2 d-flex px-0"> <app-icon icon="alert"></app-icon></div>
    <div class="col text-center font-size-14 font-color-dark font-family-regular">{{'GENERAL.FILL_IN_EMPTY_INPUTS' | translate}}</div>
    <div class="col-2 px-0"></div>
    </div>
  </div>
  <div class="pt-20px px-0 pb-50px mx-auto" style="max-width: 960px;" [class.mt-70px]="!(isSubmited && form?.invalid)">
      <div
      class="font-size-20 font-color-dark font-family-bold pb-30px"
      >
	  {{'GENERAL.GENERAL_INFO' | translate}}
      </div>
       
        <div class="row">
          <div class="col" style="max-width: 656px; flex-basis: 656px;">
            <label for="productionOrderName" class="font-size-15 font-color-dark font-family-bold">{{'GENERAL.NAME' | translate}}*</label>
              <input
                id="productionOrderName"
                data-hj-allow
                class="form-control"
                type="text"
                formControlName="name"
              />
          </div>
          <!-- <div class="col-6">
            <label for="productionOrderDate">თარიღი*</label>
            <div class="form-group form-group-lg d-flex">
              <input
                id="productionOrderDate"
                data-hj-allow
                type="text"
                placeholder="ჩაწერე"
                class="form-control"
                [value]="orderDate | date"
                readonly
                style="background-color: white;"
                (click)="onToggleDatePicker(); $event.stopPropagation()"
              />
              <button
                type="button"
                class="btn btn-outline-primary flex-shrink-0 ml-2 btn-reload"
                style="width: 48px;height: 48px;"
                (click)="onToggleDatePicker(); $event.stopPropagation()"
              >
                <app-icon icon="calendar" fill="#0077ff"></app-icon>
              </button>
              <app-date-picker
                *ngIf="isDatePickerVisible"
                clickOutside
                (clickOutside)="onToggleDatePicker()"
                [isRangePicker]="false"
                [defaultDate]="orderDate"
                (dateChange)="onOrderDateChange($event)"
                class="date-picker-bottom"
              ></app-date-picker>
            </div>
          </div> -->
        </div>
    <div class="mt-5 pt-42px">
      <div
      class="font-size-20 font-color-dark font-family-bold pb-30px"
      >
        {{'ProductionOrders.ITEM.addReceipt' | translate}}
      </div>
      <div class=" px-0 py-0">
        <app-production-order-detail-products
          [orderLines]="item?.orderLines"
          (changeOrderLines)="orderLines = $event"
        ></app-production-order-detail-products>
      </div>
    </div>
  </div>
</form>
