<div class="d-flex align-items-center border-bottom px-4 border-table-border-color" style="height: 87px;">
  <div
  *ngIf="receipt?.id"
  class="d-flex align-items-center col-3 px-0"
   
>
<button
    (click)="onEdit()"
    class="btn-view-action-rounded mr-2"
        style="width: 36px;height: 36px;"
  >
  <app-icon [icon]="'edit-tbls'"></app-icon>
  </button>
  <button
    (click)="onDelete()"
    class="btn-view-action-rounded"
        style="width: 36px;height: 36px;"
    [disabled]="!receipt || receipt.isInUse === true"
  >
  <app-icon
  [icon]="'trash-tbls'"
  fill="#fc3c2d"
></app-icon>
  </button>
  
</div>
  <span
    class="font-size-20 font-family-bold text-dark col text-center text-truncate"
    >{{ receipt?.name }}</span
  >
  <div class="col-3 text-right px-0">
    <app-icon
      (click)="close()"
      [icon]="'close'"
      class="ml-auto icon-close-dark"
      style="cursor: pointer;"
    ></app-icon>
  </div>
</div>

<div style="height: 455px; overflow-y: auto;" class="custom-view-scroll d-flex flex-column border-right border-transparent border-width-2px">
  <div class="container-fluid py-4 border-bottom border-table-border-color px-3">
    <optimo-view-attributes
      [items]="receiptAttributeItems"
    ></optimo-view-attributes>
    <!-- <div class="row align-items-center  " >
      <div class="col line-height-normal" >
        <div class="font-family-bold font-size-14 text-dark">
          დასახელება
        </div>
        <div class="font-size-14 font-family-regular text-dark mt-1">
          {{ receipt?.name }}
        </div>
      </div>
      <div class="col line-height-normal">
        <div class="font-family-bold font-size-14 text-dark">
          ერთეული
        </div>
        <div class="font-size-14 font-family-regular text-dark mt-1">
          {{ receipt?.unitOfMeasurementDescription }}
        </div>
      </div>
    </div>
    <div class="row align-items-center pt-4"  >
      <div class="col line-height-normal" >
        <div class="font-family-bold font-size-14 text-dark">
          ბარკოდი missing
        </div>
        <div class="font-size-14 font-family-regular text-dark mt-1">
          {{ receipt?.barcode }}
        </div>
      </div>
      <div class="col line-height-normal">
        <div class="font-family-bold font-size-14 text-dark">
          აღწერა missing
        </div>
        <div class="font-size-14 font-family-regular text-dark mt-1">
          {{ receipt?.description }}
        </div>
      </div>
    </div> -->
  </div>
  <div class="waybills-table-paddings flex-grow-1">
    <app-table
      *ngIf="receipt?.items"
      [dataSource]="receipt.items"
      [displayedColumns]="templateColumns"
      [paginable]="false"
      [selectable]="false"
      [filterable]="false"
      [staticData]="true"
      class="table-dialogs table-view"
    >
      <ng-template app-cell let-cell="cell" let-row="row" name="name">
        <div 
          [ngClass]="{
            'd-flex': !row?.stockItemBarcode
          }">

          <span
			[matTooltip]="cell"
			#ref1 [matTooltipDisabled]="textIsTruncated(ref1)"
            class="font-family-bold text-truncate mw-100 d-inline-block table-text-dark"
          >
            {{ row.name }}
          </span>
          <br *ngIf="row.stockItemBarcode"/>
          <span
            *ngIf="row.stockItemBarcode"
			[matTooltip]="row.stockItemBarcode"
			#ref2 [matTooltipDisabled]="textIsTruncated(ref2)"
            class="text-truncate mw-100 d-inline-block table-text-dark pt-1"
          >
            {{ row.stockItemBarcode }}
          </span>
        </div>
      </ng-template>

      <ng-template app-cell let-cell="cell" let-row="row" name="unitCostAVG">
        <div class="text-truncate text-right">
          <span> {{ cell | number: '1.4-4':'en' }} ₾ </span>
        </div>
      </ng-template>

      <ng-template
        app-cell
        let-cell="cell"
        let-row="row"
        name="unitOfMeasurement"
      >
        <div class="text-truncate">
          <span> {{ getUMOFullName(cell) }} </span>
        </div>
      </ng-template></app-table
    >
  </div>
</div>
<div class="d-flex align-items-center border justify-content-center px-4 border-table-border-color"
     style="  height: 83px;">
  <!-- <app-paginator
    class="pagination-sm ml-auto"
  ></app-paginator> -->
</div>
 

 

