<div class="w-100 h-100 d-flex flex-column">
  <div class="d-flex align-items-center px-4 py-3" style="height: 80px;">
    <a
      class="btn btn-primary btn-add mr-3"
      [routerLink]="['./add']"
      [ngClass]="{ 'd-none': selectedRows && selectedRows.length > 0 }"
    >
      <span>დამატება</span>
    </a>

    <button
      (click)="onEditSelected()"
      class="btn mr-2 bg-table-border-color py-0"
      style="width: 75px; height: 42px;"
      [ngClass]="{ 'd-none': !selectedRows || selectedRows.length !== 1 }"
    >
      <app-icon icon="edit-tbls"></app-icon>
    </button>

    <button
      class="btn mr-2 px-3 bg-table-border-color py-0"
      (click)="openRemovalDialog(selectedRows)"
      style="width: 75px; height: 42px;"
      [ngClass]="{ 'd-none': !selectedRows || !selectedRows.length }"
    >
      <app-icon icon="trash-tbls"></app-icon>
    </button>
  </div>

  <app-table
    *ngIf="datasource"
    [displayedColumns]="displayedColumns"
    [dataSource]="datasource"
    [totalCount]="totalCount"
    [state]="curTableState"
    [actions]="{ editable: true, deletable: true }"
    [selectable]="true"
    [filterable]="true"
    [paginable]="true"
    [defaultSort]="'id'"
    [defaultSortDirection]="'DESC'"
    (selectionChanged)="onSelectionChanged($event)"
    (rowEdit)="goToEdit($event)"
    (rowDelete)="openRemovalDialog([$event])"
    (stateChanged)="onTableStateChanged($event)"
    class="table-offers flex-grow-1 table-categories"
    style="padding-bottom: 115px;"
  >
  </app-table>
</div>
