  <div
    class="bg-white rounded"
    style="box-shadow: 0 5px 30px -10px rgba(13, 18, 46, 0.5);"
  >
    <div
    class="d-flex align-items-center justify-content-between border-bottom border-table-border-color pl-4 pr-18px"
    style="height: 60px;"
    >
      <span class="font-color-dark font-size-18 font-family-bold line-height-normal" >
      თქვენ გამოხვედით სისტემიდან
      </span>
      <button
      class="btn bg-transparent rounded-0 p-0"
      (click)="onClose()"
      >
        <app-icon icon="close" class="icon-w-20px icon-h-20px"   style="cursor: pointer;"></app-icon>
      </button>
    </div>
    <div class="pt-4 px-4 font-color-dark font-size-14 font-family-regular line-height-normal">
      <!-- <ng-container *ngIf="!data.message"> -->
        უმოქმედობის გამო თქვენ გამოხვედით სისტემიდან.
      <!-- </ng-container>
      <ng-container *ngIf="data.message">
        {{ data.message }}
      </ng-container> -->
    </div>
    <div class="d-flex justify-content-end align-items-center p-4">
      <button
      class="btn btn-primary font-color-white  font-size-14  font-family-bold"
      style="width: 105px;height: 42px;"
      (click)="onClose()"
      >
      შესვლა
      </button>
    </div>
  </div>
