<!-- <div class="header fixed-top">
  <div class="font-size-22 font-color-dark font-family-bold pl-4">{{title}}</div>
  <app-icon
    class="header-burger d-inline-block d-sm-none"
    style="cursor: pointer;"
    icon="burger"
    (click)="onBurgerClick()"
  ></app-icon>
  <div class="d-flex align-items-center h-100">
    <app-headbar-menu
      class="h-100"
      (logout)="logout.emit()"
    ></app-headbar-menu>
  </div>
</div> -->


<div 
[ngClass]="{'header-shadow': !scrolledToTop}"
class="header fixed-top">
<div class="col-2 col-custsm d-flex align-items-center justify-content-start px-0">
  <div class="d-none d-md-flex pl-4 font-size-lg-22 font-size-20 font-color-dark font-family-bold">
    {{title}}
</div>
<button
(click)="onBurgerClick()"
  class="d-flex d-md-none ml-sm-4 ml-3 btn p-0 border-0"
>
  <app-icon
    icon="burger"></app-icon>
</button>
</div>
<div class="col text-center px-0 d-flex d-md-none justify-content-center">
   <a href="">
     <img src="/assets/images/logo.svg" alt="" style="width: 116px;">
   </a>
</div>
  <div class="d-flex align-items-center h-100 col justify-content-end px-0">
     
	<!-- <app-notifications></app-notifications> -->
    <app-headbar-menu
      class="h-100"
      (logout)="logout.emit()"
    ></app-headbar-menu>
  </div>
</div>