<div class="mx-auto pt-5" style="max-width: 500px;">
    <form
      *ngIf="form"
      [formGroup]="form"
      (submit)="onSubmit()"
      autocomplete="off"
    >
      <div class="mb-3 position-relative d-flex flex-column  ">
        <div class="mb-2 font-size-15  font-color-dark font-family-bold  "
        style=" user-select: none;">
             {{ 'PROFILE.NAME' | translate }}
        </div>
        <input
          formControlName="user"
          type="text"
          autocomplete="off"
          class="form-control mw-100 "
        />
      </div>
      <div class="mb-3 position-relative d-flex flex-column  ">
        <div
        class="mb-2 font-size-15  font-color-dark font-family-bold  "
        style=" user-select: none;"
        >
          {{ 'PROFILE.PASSWORD' | translate }}
        </div>
        <div class="position-relative w-100"  >
          <app-password-edit-box
            formControlName="password"
            class="no-validation-padding"
          ></app-password-edit-box>
        </div>
      </div>
      <div class="w-100 d-flex justify-content-end">
        <button
        class="btn btn-primary btn-add  "
        type="submit"
        [disabled]="form.invalid && form.pristine"
      >
        {{ 'GENERAL.SAVE' | translate }}
      </button>
      </div>
    </form>
</div>
