<div
  class="d-flex justify-content-between align-items-center"
>
  <div class="w-100 pb-4" style="max-width: 468px;">
    <div class="font-size-15 font-color-dark font-family-bold mb-2">{{'Shipping.Item.Details.selectProduct' | translate}}</div>
    <app-dynamic-select
      #dynamicSelector="ngModel"
      [dataGetter]="getProducts"
      [itemGetterById]="getProductById"
      additionalSearchKey="barcode"
      [showClearButton]="false"
      [multiple]="true"
      [showLabel]="false"
      [closeOnSelect]="false"
      [(ngModel)]="selectedProductIds"
      [ngModelOptions]="{ standalone: true }"
      id="shipping-detail-products-choose-product"
    ></app-dynamic-select>
  </div>
</div>
<app-table
  [dataSource]="productsDataSource"
  [totalCount]="productsDataSource?.length"
  [selectable]="false"
  [filterable]="false"
  [paginable]="false"
  [indexable]="true"
  [displayedColumns]="displayedColumns"
  [staticData]="true"
  class="table-add-order first-th-centered"
  [class.disabled]="productsDataSource && productsDataSource[0]?.placeholder"
>
  <!-- <ng-template app-cell let-cell="cell" name="quantityOnHand">
    <div class="d-flex justify-content-end mr-5">
      {{ cell }}
    </div>
  </ng-template> -->
  <ng-template app-cell let-row="row" name="quantity">
    <div class="d-flex align-items-center">
      <input
        data-hj-allow
        class="form-control text-center"
        style="width: 133px;"
        *ngIf="!row.placeholder"
        type="text"
        #quantity="ngModel"
        autocomplete="off"
        required
        appMoreThan="0"
        [appLessOrEqualThan]="row.quantityOnHand"
        [ngModel]="row.quantity.toString()"
        (change)="row.quantity = parseFloatWithCommas($event.target.value)"
        mask="separator.4"
        thousandSeparator=","
        id="shipping-detail-products-product-quantity"
      />
<!-- nothing, 7162 for staging-->
      <div class="mx-auto" *ngIf="row.placeholder">
        {{ row.quantity }}
      </div>

      <app-icon
        [matTooltip]="'GENERAL.DELETE' | translate"
        icon="trash-tbls"
        fill="#515366"
        (click)="onRemoveProduct(row)"
        class="cursor-pointer ml-40"
      >
      </app-icon>
    </div>
  </ng-template>
  <ng-template app-cell let-cell="cell" let-row="row" name="name">
    <div class="pt-1 line-height-normal">
      <span
		[matTooltip]="row.name"
		#ref1 [matTooltipDisabled]="textIsTruncated(ref1)"
        class="font-family-bold text-truncate mw-100 d-inline-block table-text-dark pb-1"
        [class.pt-3]="row.placeholder"
      >
        {{ row.name }}
      </span>
       <br>
      <span
		[matTooltip]="row.barcode"
		#ref2 [matTooltipDisabled]="textIsTruncated(ref2)"
        class="text-truncate mw-100 d-inline-block table-text-dark"
      >
        {{ row.barcode }}
      </span>
    </div>
  </ng-template>
</app-table>
