.bgr-green {
  background-color: rgba(47, 205, 138, 0.1);
}

.bgr-red {
  background-color: rgba(252, 60, 45, 0.1);
}

.bgr-blue {
  background-color: #26d4a3;
}

.bgr-pink {
  background-color: #f96257;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translateY(5px);
}
