<form
  *ngIf="form"
  [formGroup]="form"
  (submit)="onSubmit()"
  class="offer-detail"
> 

<div class="container-fluid sticky-top bg-white mb-42px" style="height: 72px;">
  <div class="row align-items-center h-100 border-bottom border-secondary">
    <div class="col pl-0 h-100">
      <button type="button" class="btn bg-white px-2 h-100 rounded-0" style="width: 102px;"
        (click)="onClose()">
        <app-icon icon="close"></app-icon>
      </button>
    </div>
    <div class="col-auto font-size-20 font-family-bold text-dark">
      FAQ-ს {{ title }}
    </div>
    <div class="col pr-4 h-100 d-flex align-items-center justify-content-end">
      <button class="btn btn-primary font-size-14 font-family-bold text-white py-0 px-23px h-42px"
        type="submit">
        შენახვა
      </button>
    </div>
  </div>
</div>

<div class="w-100" *ngIf="isSubmited && form?.invalid">
  <div class="mx-auto bg-danger-bg px-4 rounded text-center border d-flex align-items-center border-danger-border mt-3"
    style="max-width: 960px;height: 54px;">
    <div class="col-2 d-flex px-0">
      <app-icon icon="alert"></app-icon>
    </div>
    <div class="col text-center font-size-14 font-color-dark font-family-regular">
      შეავსე გამორჩენილი ველები
    </div>
    <div class="col-2 px-0"></div>
  </div>
</div>

  <div class="container-md d-flex pt-5">
    <div class="pl-0 col-12">
      <div class="w-100 d-flex flex-column pb-32px">
        <label class="font-size-15 font-color-dark font-family-bold"
          >კატეგორია</label
        >

        <app-dynamic-select
          id="addInventorySupplierIds"
          class="add-inventory-item__dynamic-select"
          [dataGetter]="getCategories"
          [itemGetterById]="getCategoryById"
          [multiple]="false"
          [sortField]="'nameGEO'"
          [closeOnSelect]="false"
          formControlName="category"
        >
        </app-dynamic-select>
      </div>

      <div class="w-100 d-flex flex-column pb-32px">
        <label class="font-size-15 font-color-dark font-family-bold"
          >UrlSlug</label
        >
        <input class="form-control" type="text" formControlName="urlSlug" />
      </div>

      <div class="w-100 d-flex flex-column pb-32px">
        <label class="font-size-15 font-color-dark font-family-bold"
          >QuestionGeo</label
        >
        <input class="form-control" type="text" formControlName="questionGEO" />
      </div>

      <div class="w-100 d-flex flex-column pb-32px">
        <label class="font-size-15 font-color-dark font-family-bold"
          >QuestionEng</label
        >
        <input class="form-control" type="text" formControlName="questionENG" />
      </div>

      <div class="w-100 d-flex flex-column pb-32px">
        <label class="font-size-15 font-color-dark font-family-bold"
          >QuestionRus</label
        >
        <input class="form-control" type="text" formControlName="questionRUS" />
      </div>

      <div class="w-100 d-flex flex-column pb-32px">
        <label class="font-size-15 font-color-dark font-family-bold"
          >AnswerGeo</label
        >
        <input class="form-control" type="text" formControlName="answerGEO" />
      </div>

      <div class="w-100 d-flex flex-column pb-32px">
        <label class="font-size-15 font-color-dark font-family-bold"
          >AnswerEng</label
        >
        <input class="form-control" type="text" formControlName="answerENG" />
      </div>

      <div class="w-100 d-flex flex-column pb-32px">
        <label class="font-size-15 font-color-dark font-family-bold"
          >AnswerRus</label
        >
        <input class="form-control" type="text" formControlName="answerRUS" />
      </div>

      <div class="w-100 d-flex flex-column pb-32px">
        <label class="font-size-15 font-color-dark font-family-bold"
          >SortIndex</label
        >
        <input class="form-control" type="text" formControlName="sortIndex" />
      </div>
    </div>
  </div>
</form>
