<div
  class="d-flex flex-wrap align-items-center justify-content space-between rounded border col-12 px-32 px-sm-0 px-md-40"
  style="padding-top: 19px; padding-bottom: 19px;"
>

  <div
    class="col-12 col-sm d-flex align-items-center px-0 px-sm-15 mb-32 mb-sm-0"
  >
    <app-icon icon="phone-large"></app-icon>
    <div class="ml-3">
      <div class="font-size-14 text-muted mb-1">{{"GENERAL.Tel" | translate}}</div>
      <a
        href="tel:0322800900"
        class="font-size-16 text-dark text-decoration-none"
        >032 2 800 900</a
      >
    </div>
  </div>
  <div
    class="col-12 col-sm d-flex align-items-center px-0 px-sm-15 mb-32 mb-sm-0"
  >
    <app-icon icon="email-large"></app-icon>
    <div class="ml-3">
      <div class="font-size-14 text-muted mb-1">{{"GENERAL.Email" | translate}}</div>
      <a
        href="mailto:info@optimo.ge"
        class="font-size-16 text-dark text-decoration-none"
        >info@optimo.ge</a
      >
    </div>
  </div>
  <div class="col-12 col-sm d-flex align-items-center px-0 px-sm-15">
    <app-icon icon="location-large"></app-icon>
    <div class="ml-3">
      <div class="font-size-14 text-muted mb-1">{{"GENERAL.Address" | translate}}</div>
      <div class="font-size-16 text-dark">{{'PackagesPage.Contact.AddressValue' | translate}}</div>
    </div>
  </div>
</div>
