<!-- <div class="reset-password">
  <form [formGroup]="newPasswordForm" (submit)="onSubmit()">
    <div
      class="reset-password-holder bg-white border rounded text-center mx-auto pt-1"
    >
      <div class="d-flex align-items-center">
        <div class="col pl-4 text-left">
          <app-icon
            (click)="onBack()"
            icon="back"
            class="icon-back-lg"
          ></app-icon>
        </div>
        <div class="col-auto">
          <div class="font-size-22 font-family-semibold text-dark pt-3 pb-4">
            პაროლის აღდგენა
          </div>
        </div>
        <div class="col pr-4"></div>
      </div>
      <div class="reset-password-padding">
        <div class="form-group-lg mt-1 pt-4">
         
        </div>
        <div class="form-group-lg">
          
        </div>
        <div class="pt-2" style="margin-bottom: 40px;">
          <button
            class="btn btn-primary btn-block reset-password-btn"
            type="submit"
          >
            შემდეგ
          </button>
        </div>
      </div>
      <div
        class="d-flex align-items-center justify-content-center border-top"
        style="height: 67px;"
      >
        <a
          routerLink="/login"
          class="text-primary font-size-14 font-family-medium text-decoration-none reset-password-link"
          >ავტორიზაციაზე დაბრუნება</a
        >
      </div>
    </div>
  </form>
</div> -->



<div class="login d-flex flex-row">
  <div class="bg-white pt-20px pt-custsm-4 px-3 px-custsm-32px px-lg-5 h-100 w-100 login-inner-wrapper">
    <a href="https://optimo.ge" target="_blank"  class="login-logo">
      <img src="/assets/images/logo.svg" alt="" />
    </a>
    <!-- *ngIf="form"  -->
    <form [formGroup]="newPasswordForm" (submit)="onSubmit()"  class="login__form pt-lg-5 mt-lg-5">
      <ng-container *ngIf="!legalEntities; else chooseLegalEntities">
        <div class="font-size-20 font-family-bold font-color-dark pt-5 mt-custsm-5 mt-lg-2 mt-4">
          პაროლის ცვლილება
        </div>
        <div class=" font-size-14 text-dark pt-3 pb-4">
          პირადი ინფორმაციის უსაფრთხოებისთვის გთხოვთ შეიყვანოთ ახალი პაროლი.
        </div>
        <div class="form-group-lg line-height-normal">
          <label for="" class="font-size-14 font-family-regular font-color-dark line-height-normal"
            >ახალი პაროლი</label
          >
          <app-password-edit-box
          placeholder="პაროლი"
          formControlName="password"
          class="no-validation-padding h-u-lg-42px" 
        ></app-password-edit-box>
          <!-- <app-password-edit-box
              placeholder="პაროლი"
              formControlName="newPassword"
            ></app-password-edit-box> -->
        </div>
        <div class="form-group-lg line-height-normal">
          <label for="" class="font-size-14 font-family-regular font-color-dark line-height-normal"
            >გაიმეორეთ ახალი პაროლი</label
          >
          <app-password-edit-box
              placeholder="გაიმეორე პაროლი"
              formControlName="repeatPassword"
              class="no-validation-padding h-u-lg-42px" 
            ></app-password-edit-box>
          <!-- <app-password-edit-box
          placeholder="გაიმეორე პაროლი"
          formControlName="repeatNewPassword"
        ></app-password-edit-box> -->
        </div>
      </ng-container>

      <ng-template #chooseLegalEntities>
        <div class="form-group pt-3 mb-4">
          <label
            for=""
            class="font-size-14 font-family-regular font-color-dark"
          >
            აირჩიე კომპანია
          </label>
          <ng-select
            id="legalEntityId"
            class="custom-select-header form-control arrow-wrapper-padding h-u-lg-42px"
            [items]="legalEntities"
            formControlName="legalEntityId"
            bindValue="id"
            bindLabel="companyName"
            [searchable]="false"
            [clearable]="false"
          >
          </ng-select>
        </div>
      </ng-template>




        <button
          type="submit"
          style="height: 48px;"
          class="btn btn-primary btn-block  font-size-14 font-family-bold h-u-lg-42px"
          
        >
        <!-- [disabled]="form.invalid && form.pristine" -->
          შენახვა
        </button>
    </form>
  </div>
  <div class="login-cover-img"></div>
</div>
